@import "./variable.scss";

.button {
  display: inline-block;
  border-radius: 10px;
  background: $color-secondary;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  //animation: slowShow 0.4s ease;
  outline: 0;

  &:hover {
    background: darken($color-secondary, 10%);
  }
}
